# Linux folder rules
/linux/*.zip
/linux/cs101.java.dev.port/jdk-11.0.8+10/**
/linux/cs101.java.dev.port/visual-studio-code-15.0.1/*
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/bilkentvscode.png
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/
/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/*
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/README.md
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/
/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/*
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/dist/
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/scripts/

/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/argv.json
/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/*
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/currentLocation.txt
!/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/
/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/workspaceStorage/
/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/globalStorage/state.vscdb.backup
/linux/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/globalStorage/redhat.java/



# macOS folder rules
/macos/*.zip
/macos/cs101.java.dev.port/files/.vscode/extensions/*
!/macos/cs101.java.dev.port/files/.vscode/extensions/README.md
!/macos/cs101.java.dev.port/files/.vscode/extensions/vscjava.vscode-java-debug-0.29.0/
/macos/cs101.java.dev.port/files/.vscode/extensions/vscjava.vscode-java-debug-0.29.0/*
!/macos/cs101.java.dev.port/files/.vscode/extensions/vscjava.vscode-java-debug-0.29.0/dist/
!/macos/cs101.java.dev.port/files/.vscode/extensions/vscjava.vscode-java-debug-0.29.0/scripts/

/macos/cs101.java.dev.port/visual-studio-code-15.0.1/data/argv.json
/macos/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/*
!/macos/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/currentLocation.txt
!/macos/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/
/macos/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/workspaceStorage/
/macos/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/globalStorage/state.vscdb.backup
/macos/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/globalStorage/redhat.java/


# Windows folder rules
/win/*.zip
/win/cs101.java.dev.port/jdk-11.0.8+10/**
/win/cs101.java.dev.port/visual-studio-code-15.0.1/*
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/bilkentvscode.png
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/
/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/*
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/README.md
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/
/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/*
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/dist/
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/extensions/vscjava.vscode-java-debug-0.29.0/scripts/

/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/argv.json
/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/*
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/currentLocation.txt
!/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/
/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/workspaceStorage/
/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/globalStorage/state.vscdb.backup
/win/cs101.java.dev.port/visual-studio-code-15.0.1/data/user-data/User/globalStorage/redhat.java/


